<about class="flex-container wrapper wrapper-xl">

    <section class="column-a">
       <h2>About Justin The Painter</h2> 
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam reprehenderit accusantium repellendus ullam natus culpa aliquam expedita velit mollitia unde cupiditate nulla earum, fugit in facere cumque atque nemo labore.             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam reprehenderit accusantium repellendus ullam natus culpa aliquam expedita velit mollitia unde cupiditate nulla earum, fugit in facere cumque atque nemo labore.
       </p>
    </section>

    <aside class="column-b">
        <img class="about__image" src="/assets/images/justin_optimized.jpg" alt="Justin Kelzer">
    </aside>

</about>