<about class="flex-container wrapper wrapper-xl">

    <section class="column-a">
       <h2>About Justin The Painter</h2> 
       <p>
           Hi, I'm Justin.  I'm a painter.  I grew up painting houses, and come from a family of professional painters.  I've been at this for over 25 years, and have completed a lot of projects during that time.  My customers are usually looking for a more personal approach to professional painting, and not the type of service you receive from the big painting companies.  I look at each project project and each client as a unique opportunity.
       </p>
    </section>

    <aside class="column-b">
        <img class="about__image" src="/assets/images/justin_optimized.jpg" alt="Justin Kelzer">
    </aside>

</about>