<div class= "cta">
    <div class= "cta-contentWrapper wrapper wrapper-xl">
        <div class= "cta-content">
            <div class= "cta-heading">
                Trusted by homeowners for over 25 years
            </div>
            <div class= "cta-copy">
                At Justin The Painter, we do jobs the old fashion way:  One at a time.  Your project will be our main focus, and not getting on to the next stop.  You  meet the person who will actually be completing your project, and not a salesperson who doesn't understand your unique needs.
            </div>
            <div class="container">
                <a class = "center cta-btn btn" href="/form/">
                    Get More Information
                </a>
            </div>          
        </div>
    </div>
</div>