<services class="flex-container wrapper wrapper-xl">
    <section class="column-a">
       <h2>300+ Satisfied Customers</h2> 
       <p>
          Painting can be overwhelming.  The truth is, achieving professional quality results take both time and skill.  There are no shortcuts without sacrificing quality.  Hand cutting straight lines, carefully painting around fixtures, and hiding construction imperfections are all key to achieving professional results.  Painstaking attention to detail is the standard for every job we complete.
       </p>
    </section>

    <aside class="column-b">
        <h2>Services</h2>
        <p>
            <li>Interior Residential Painting</li>
            <li>Interior Commercial Painting</li>
            <li>Color Consultation</li>
            <li>Drywall Repair</li>
            <li>Wallpaper Removal</li>
            <li>Wall Washing</li>
        </p>
    </aside>

</services>