.btn {
    background-color: $blue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
	text-decoration: none;
}

.btn:visited {
    background-color: $blue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
	text-decoration: none;
}

.btn:hover {
    background-color: $lightblue;
	text-decoration: none;
}